h1 {
  color: tan;
}
h2 {
  color:light gray;
}
div {
  text-align: centered;
  color:dark gray
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  width: auto;
  border: 1px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}
