h1 {
  color: tan;
}
h2 {
  color:light gray;
}
p {
  color: dark gray;
}
div {
  text-align: centered;
  color:dark gray
}

.center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
section {
  width: auto;
  border: auto solid #2d2d2d;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
