h1 {
  color: #65350F;
  font-size: 40px;
  text-align: centered;
}
h2 {
  color:light gray;
  font-size: 30px;
  text-align: wrapped;
}
p {
  color: dark gray;
   font-size: 25px;
}
div {
  text-align: centered;
  color:dark gray
}

 img {
            border-radius: 90%;
            width: 400px;
            padding: 10px;
            width: 350px;
            height: 350px;
        }
      
.center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
section {
  width: auto;
  border: auto solid #2d2d2d;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.wrapper {
  display: grid;
   grid-template-columns: repeat(auto-fill, auto);
}

 .topnav {
            overflow: hidden;
            background-color: tan;
        }
topnav :hover {
      opacity: 0.8;
                }
 .topnav a {
                float: right;
                color: #65350F;
                text-align: center;
                padding: 18px 16px;
                text-decoration: none;
                font-size: 20px;
   topnav a:hover {
      opacity: 0.8;
                }
.footer {
                float: center;
                color: rgb (65350F);
                text-align: center;
                padding: 18px 16px;
                text-decoration: none;
                font-size: 20px;
                }
.button {
      background-color: #65350F;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: 10px ;
      cursor: grab;
      width: 48%;
      justify-content: center;
      }
button:hover {
      opacity: 0.8;
      } 
.form {
  color:light gray;
  font-size: 30px;
  text-align: wrapped;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

 html, body {
      display: flex;
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      }
   
  .table {
      border: auto solid #2d2d2d;
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      }
